<web-app>

<servlet>
<servlet-name>Validation</servlet-name>
<servlet-class>Validate</servlet-class>
</servlet>

<servlet>
<servlet-name>WelcomeUser</servlet-name>
<servlet-class>Welcome</servlet-class>
</servlet>

<servlet>
<servlet-name>check</servlet-name>
<servlet-class>Test</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Validation</servlet-name>
<url-pattern>/Validate</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>WelcomeUser</servlet-name>
<url-pattern>/Welcome</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>check</servlet-name>
<url-pattern>/Test</url-pattern>
</servlet-mapping>
    
</web-app>

